body{
    background-image: url('photo/Background1.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/*menu*/
a{
    font-family: Bebas Neue;
    font-size: 150%;
}
nav{
    background-color: rgb(61, 61, 61);
    padding-left: 20%;

}
.nav-link:hover{
    color: red;
}
.nav-link{
    color: white;
    padding: 1rem 8rem;
}
/*Foto*/
img, svg{
    margin-top: 5%;
    width: 100%;
    height: 120%;
    margin-left: -10%;
}
/*Text*/
.fw-bold{
    margin-top: 10%;
    font-size: 500%;
    font-family: Bebas Neue;
}
.fw-bolder{
    font-size: 400%;
    font-family: Bebas Neue;
}
.container{
    text-align: center;
}
/*Button*/
.btn-primary{
    color: white;
    background-color: rgb(230, 4, 4);
    border-color:rgb(230, 4, 4);
    font-family: Bebas Neue;
    font-size: 200%;
}
.btn-primary:hover{
    background-color: rgb(255, 1, 1);
    color: rgb(255, 217, 0);
    border-color:rgb(255, 217, 0) ;
}