body{
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}
/*menu*/
a{
    font-family: Bebas Neue;
    font-size: 150%;
}
nav{
    background-color: rgb(61, 61, 61);
    padding-left: 20%;

}
.nav-link:hover{
    color: red;
}
.nav-link{
    color: white;
    padding: 1rem 8rem;
}
/*----------butoane----*/
.btn-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 85%;
    margin-top: 5%;
}
.container{
    margin-top: -50%;
}
#youtube{
    background-color: red;
    color: white;
    font-family: Bebas Neue;
    font-size: 130%;
    cursor: pointer;
}
#google{
    background-color: white;
    color: blue;
    font-family: Bebas Neue;
    font-size: 130%;
    cursor: pointer;
}
#instagram{
    background-color: crimson;
    color: white;
    font-family: Bebas Neue;
    font-size: 130%;
    cursor: pointer;
}
#viber{
    background-color: darkmagenta;
    color: white;
    font-family: Bebas Neue;
    font-size: 130%;
    cursor: pointer;

}
/*-----map-----*/
#map{
    margin-left: 27%;
    margin-top: 2%;
}
