body{
    background-image: url('photo/Background1.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/*menu*/
a{
    font-family: Arial;
}
nav{
    background-color: rgb(61, 61, 61);
    padding-left: 20%;

}
.nav-link:hover{
    color: red;
}
.nav-link{
    color: white;
    padding: 1rem 8rem;
}
/*Foto*/
.img-fluid{
    margin-top: 5%;
    width: 50%;
    height: 50%;
}
/*Text*/
.fs-1{
    color: black;
    font-weight: bold;
}
.fs-2{
    color:black;
    font-weight: bold;
}