body{
    background-color: rgb(92, 91, 99);
}
a{
    text-decoration: none;
}
.btn-dark{
    width: 60%;
    height: 30%;
    font-size: 150%;
    font-family: Bebas Neue ;
}

.container{
    margin-top: -55%;
    margin-left: 1%;
}
.fs-1{
    font-family: Bebas Neue;
    color: white;
    text-decoration: none;
}
.g-3{
    font-family: Bebas Neue;
    font-size: 150% ;
}
.btn-primary{
    color: white;
    background-color: black;
    border-color: white;
    font-size: 100%;
}
.btn-primary:hover{
    background-color: red;
    border-color: yellow;
}