/*menu*/
a{
    font-family: Bebas Neue;
    font-size: 150%;
}
nav{
    background-color: rgb(61, 61, 61);
    padding-left: 20%;

}
.nav-link:hover{
    color: red;
}
.nav-link{
    color: white;
    padding: 1rem 8rem;
}
/*------text---------*/

.text-uppercase{
    margin-left: 5%;
    text-align: center;
    color: white;
    font-family: Bebas Neue;
    font-size: 400%;
    margin-top: -265%;
    cursor: pointer;
}
.text-uppercase:hover{
    color: red;
}
/*----butoane------*/
.btn-primary{
    color: white;
    background-color: red;
    border-color: red;
    margin-left: -7%;
    width: 120%;
    margin-top: 5%;
}
.btn-primary:hover{
    color: rgb(0, 255, 234);
    background-color: red;
    border-color: rgb(0, 255, 234);
}
.btn-primary:hover{
    color: rgb(0, 255, 234);
    background: red;
    border-color: rgb(0, 255, 234);
}