body{
    background-color: rgb(92, 91, 99);
}
.btn-dark{
    width: 60%;
    height: 30%;
 font-size: 150%;
 font-family: Bebas Neue ;
}

.container{
    margin-top: -55%;
    margin-left: 1%;
}
.fs-1{
    font-family: Bebas Neue;
    color: white;
}